@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.card-collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.standout {
  box-shadow: rgba(0,0,0.16) 0px 1px 4px,rgb(51,51,51) 0px 0px 0px 3px;
}

.title {
  display: block;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  text-align: center;
}

.team-info {
  display: block;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
}

.footer {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}